

<ion-content class="login-page">
  <div class="login-container">
    <h1>Login</h1>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()">Entrar</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/register">
      Registrar-se
    </ion-button>
  </div>
</ion-content>
