<ion-content>
  <div class="form-container">
    <h1 class="app-title">Login</h1>
    <ion-item class="form-field">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="form-field">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="onLogin()">Entrar</ion-button>
    <p class="redirect-link" (click)="goToRegister()">Ainda não tem uma conta? Registre-se</p>
  </div>
</ion-content>
