<ion-header>

  <ion-toolbar>

    <!-- Botão com o logotipo à esquerda -->
    <ion-buttons slot="start">
      <img src="assets/logoMobile.png" alt="Organiza" class="logo">
    </ion-buttons>

    <!-- Dois textos pressionáveis com redirecionamento -->
    <ion-buttons slot="end">

      <ion-button (click)="navigateToSupport()">
        <div class="nav-link">Conversões<br>Suportadas</div>
      </ion-button>

      <ion-button (click)="navigateToConverter()">
        <div class="nav-link">Conversor<br>Direto</div>
      </ion-button>

      <ion-button (click)="navigateToChart()">
        <div class="nav-link">Conversor<br>Múltiplo</div>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Selecione as Moedas</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="select-container">

        <div class="inputCoin">

          <ion-label stacked>Moeda de Origem</ion-label> <!-- 'stacked' coloca o label em cima -->
          <ion-select label="Selecione a primeira moeda" label-placement="floating" fill="outline" interface="action-sheet" [(ngModel)]="sourceCurrency">
            <ion-select-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </ion-select-option>
          </ion-select>
        

        
          <ion-label>Moeda de Destino</ion-label>
          <ion-select label="Selecione a segunda moeda" label-placement="floating" fill="outline" interface="action-sheet" [(ngModel)]="targetCurrency">
            <ion-select-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </ion-select-option>
          </ion-select>

          
        
          
      </div>

      <div>
        <ion-button class="buttonToggle" color="warning" (click)="toggleCurrencies()">
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
        </ion-button>
      </div>

    </div>

    <div class="inputValueContainer">
      <ion-label>Valor: </ion-label>
      <ion-item>
        <ion-input type="number" [(ngModel)]="amount"></ion-input>
      </ion-item>
    </div>  

       <!-- Botão para alternar as moedas -->
    <div>
      <ion-button class="buttonConverterContainer" (click)="convertCurrency()">Converter</ion-button>
    </div>
       

    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="conversionResult">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O valor de {{ lastConvertedAmount }} {{ sourceCurrency }} equivale a {{ conversionResult }} {{ targetCurrency }} .
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="conversionHistory.length > 0">
    <ion-card-header>
      <ion-card-title>Histórico de Conversões</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let history of conversionHistory">
          <ion-label>
           {{ history.date }} - {{ history.amount }} {{ history.sourceCurrency }} = {{ history.result }} {{ history.targetCurrency }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



</ion-content>