<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Supported Currencies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchText" [debounce]="500" (ionInput)="filterData()"
                 showClearButton="focus" placeholder="Pesquisar currencies...">
  </ion-searchbar>

  <ion-grid class="currency-grid">
    <ion-row class="header-row">
      <ion-col size="4" size-sm="3" size-md="2" class="column-header">
        <strong>Currency Code</strong>
      </ion-col>
      <ion-col size="4" size-sm="4" size-md="5" class="column-header">
        <strong>Currency Name</strong>
      </ion-col>
      <ion-col size="4" size-sm="5" size-md="5" class="column-header">
        <strong>Country</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let conversion of filteredConversions" class="data-row">
      <ion-col size="4" size-sm="3" size-md="2" class="column-content">
        {{ conversion.code }}
      </ion-col>
      <ion-col size="4" size-sm="4" size-md="5" class="column-content">
        {{ conversion.name }}
      </ion-col>
      <ion-col size="4" size-sm="5" size-md="5" class="column-content">
        {{ conversion.country }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
