<ion-header>

  <ion-toolbar>

    <!-- Botão com o logotipo à esquerda -->
    <ion-buttons slot="start">
      <img src="assets/logo.png" alt="Organiza" class="logo">
    </ion-buttons>

    <!-- Dois textos pressionáveis com redirecionamento -->
    <ion-buttons slot="end">

      <ion-button (click)="navigateToSupport()">
        <div class="nav-link">Conversões<br>Suportadas</div>
      </ion-button>

      <ion-button (click)="navigateToConverter()">
        <div class="nav-link">Conversor<br>Direto</div>
      </ion-button>

      <ion-button (click)="navigateToChart()">
        <div class="nav-link">Conversor<br>Múltiplo</div>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchText" [debounce]="500" (ionInput)="filterData()"
                 showClearButton="focus" placeholder="Pesquisar currencies...">
  </ion-searchbar>

  <ion-grid class="currency-grid">
    <ion-row class="header-row">
      <ion-col size="4" size-sm="3" size-md="2" class="column-header">
        <strong>Currency Code</strong>
      </ion-col>
      <ion-col size="4" size-sm="4" size-md="5" class="column-header">
        <strong>Currency Name</strong>
      </ion-col>
      <ion-col size="4" size-sm="5" size-md="5" class="column-header">
        <strong>Country</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let conversion of filteredConversions" class="data-row">
      <ion-col size="4" size-sm="3" size-md="2" class="column-content">
        {{ conversion.code }}
      </ion-col>
      <ion-col size="4" size-sm="4" size-md="5" class="column-content">
        {{ conversion.name }}
      </ion-col>
      <ion-col size="4" size-sm="5" size-md="5" class="column-content">
        {{ conversion.country }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
