/* Estilo para o logotipo */
.logo {
  height: 4rem;
  width: auto;
}

/* Botões da navbar */
.nav-link {
  display: flex;
  gap: 0.4rem;
}

.double-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.double-line span {
  display: block;
  text-align: center;
  white-space: nowrap;
  /* Mantém cada linha na própria linha para não ficar muito largo */
}

/* Responsividade */
@media (max-width: 768px) {

  .nav-link {
    font-size: 0.65rem;
  }

  .logo {
    height: 2rem;
    width: auto;
  }
}