
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 

}


.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(45deg, purple, blue);
}

.app-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  animation: fadeIn 2s ease-out;
}

.intro-text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.8;
  font-style: italic;
  animation: fadeIn 2.5s ease-out;
  max-width: 80%;
  margin: 0 auto;
}

/* Estilo do botão */
.start-button {
  --background: #f44336;
  --color: white;
  --border-radius: 30px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  margin-top: 1.5rem;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    background-color: #d32f2f;
    transform: scale(1.1);
  }

  &:active {
    background-color: #c62828;
    transform: scale(0.95);
  }
}

/* Animação de fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
