
<ion-content class="ion-padding">
  <div class="content-container">
    <h1 class="app-title">IonicConversor</h1>
    <p class="intro-text">
      Em um mundo globalizado, viajar, investir ou negociar em diferentes países pode exigir a conversão de moedas.<br> Agora, você pode fazer de forma rápida e simples, e garantindo que você esteja sempre com as taxas mais precisas.
    </p>
    <ion-button class="start-button" expand="full" (click)="goToRegister()">
      Começar agora
    </ion-button>
  </div>
</ion-content>